body {
  background-color: #000;
}

/*#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}*/
.content{
  z-index: 1;
  padding-top: 18%;
  text-align: center;
  position: relative;
}

h1, h3{
  color: white;
  z-index: 1;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 position: relative;
  text-align: center;
}
nav{
  z-index: 1;
  position: relative;
  text-align: center;

}
h1 {
  color: white;
  z-index: 1;
  font-weight: 700;
  font-size: 5em;
  position: relative;
  text-align: center;
}
hr {
  z-index: 1;
    width: 300px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
  text-align: center;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(images/background1_50.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(images/background2_50.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(images/background3_50.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(images/background4_50.jpg);
  animation-delay: 30s; 
}
/*.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}*/

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}